@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  font-family: "Lato", sans-serif;
  background: linear-gradient(135deg, #dfe6e9 0%, #ecf2f5 100%);
  min-height: 100vh;
}

h2,
h3 {
  color: #fff;
  background-color: #0984e3;
}

header {
  height: 150px;
}

header .primary-btn {
  margin: 34px auto;
}

header h2,
.modal-container h3 {
  text-align: center;
  padding: 15px;
}

.primary-btn {
  display: block;
  color: #fff;
  background-color: #0984e3;
  padding: 10px 15px;
  text-align: center;
  align-items: center;
  width: 150px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

button:active {
  opacity: 0.5;
}

button:focus {
  outline: none;
  background-image: linear-gradient(135deg, #0975c7 0%, #098df1 100%);
}

/* Modal */
.modal-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 768px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #0984e3;
  opacity: 0;
  z-index: 100;
}

.modal-container .modal {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.modal-container .modal label {
  font-weight: bold;
  font-size: 16px;
  color: #0984e3;
  text-align: center;
  padding: 10px 0;
  width: 400px;
}

.modal-container .modal input {
  padding: 10px;
  width: 400px;
  border: none;
  border-radius: 5px;
  outline: none;
}

/* Book Collections */

.book-collections h3 {
  padding: 10px 0 10px 20px;
  margin: 10px 0;
}

.book-collections,
.book-collections .collection-books {
  display: flex;
  flex-direction: column;
}

.book-collections .collection-books .collection-titles,
.book-collections .collection-books .book-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.book-collections .collection-books .collection-titles h4,
.book-collections .collection-books .book-list li {
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  width: 20%;
}

.book-collections .collection-books .book-list li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 300;
}

/* Read Switch */
.switch input {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
/* Delete */
.book-collections .collection-books .book-list li i:hover {
  color: red;
  cursor: pointer;
}
